<script>
	var flash_notice = "<%= escape_javascript(flash[:notice]) %>"
	if (flash_notice != "")
	$.jGrowl(flash_notice, { header: 'Success', theme:'success' });
</script>
<ul class="assets">
	<% @assets.each do |asset| %>
		<li><div class="thumbnail <%= asset.extension %>" style="background-image:url('<%= asset.thumbnail_url %>')"><%= link_to(asset.filename, asset, {:class => "asset"}) %>
		<% if asset.protected? == false %>
			<a href="/admin/assets/<%= asset.assetpath %>/destroy" class="delete">Delete</a>
		<% end %>
		</div></li>
	<% end %>
</ul>
