<%= javascript_include_tag 'blue/admin/publish' %>

<script type="text/javascript" charset="utf-8">
	var form_authenticity_token = "<%= form_authenticity_token %>";
</script>

<h1>Publishing Dashboard</h1>

<div class="report" id="pending_publish">
	<h2>
		<% if current_admin_user.has_role?(:publisher) %>
		<span class="buttons"><a href="<%= publish_all_admin_pages_url %>" class="publish_all" id="publish_all_button">Publish All</a></span>
		<% end %>
		Pending Publish
	</h2>
	<ul class="list">
		<% Page.pending_publish.each do |page| %>
			<li class="<%= page.css_class %>" id="page_<%= page.id %>"><span class="title"><%= page.title %></span> 
				<span class="tools"><%= link_to "View", "#{page.url}" %> 
					<% if current_admin_user.has_role?(:publisher) %>
					| <%= link_to "Publish", publish_admin_page_url(page), :class => "publish" %>
					<% end %>
				</span></li>
		<% end %>
	</ul>
</div>

<div class="dialog" id="admin_publish_dialog"></div>