<div class="admin_content" id="verbiage_<%= global_verbiage.title %>">
	<div class="tools"><strong>Global <%= global_verbiage.title.humanize %> Verbiage</strong>
		<% if current_admin_user.has_role?(:editor) %>	
		<a href="/admin/global_verbiage/<%= global_verbiage.id %>/edit?editor=<%= options[:editor] %><%= blue_features.include?(:localization) ? "&verbiage[locale]=#{I18n.locale}" : "" %>" class="edit edit_verbiage">Edit</a>
		<% end %>
	</div>
	<div class="blue_content">
	<%= global_verbiage.content %>
	</div>
</div>