
<div class="left_column">
<fieldset>
	<legend><em>2</em>Page Configuration</legend>
	<p>Second, configure the page including the <em>title</em> and <em>url slug</em>.</p>
	<label for="page_title" style="width:24px;">Title</label>
	<%= f.text_field :title, :name => "page[title]", :id => "page_title" %>

	<label for="page_slug" style="width:24px;">Slug</label>
	<%= f.text_field :slug, :size => 20, :name => "page[slug]", :id => "page_slug" %>

	<label for="page_template_file">Template</label>
	<strong>Home</strong>
</fieldset>

<fieldset>
	<legend>Meta Data</legend>
	<label for="page_meta_keywords">Meta Keywords</label>
	<%= f.text_field :meta_keywords, :name => "page[meta_keywords]", :id => "page_meta_keywords"%>

	<label for="page_meta_description">Meta Description</label>
	<%= f.text_area :meta_description, :name => "page[meta_description]", :id => "page_meta_description" %>
</fieldset>
</div>

<div class="right_column">
	<%= render :partial => 'admin/pages/forms/page_types/permissions', :locals => {:f => f} if blue_features.include?(:membership) %>
	<%= render :partial => 'admin/pages/forms/page_types/localizations', :locals => {:f => f} if blue_features.include?(:localization) %>
</div>
