<div class="navigation_page navigation_<%= navigation.page.css_class %>"><span class="title"><%= navigation.page.title %></span>
	<span class="tools">
		<% if current_admin_user.has_role?(:editor) %>	
		<%= link_to "Edit Content", navigation.url, :class => "" %> | <%= link_to "Edit Page Attributes", edit_admin_page_path(navigation.page), :class => "edit edit_page" %> | <%= link_to "Edit Navigation", edit_admin_navigation_url(navigation), :class => "edit edit_navigation" %> | <%= link_to "Delete Navigation", [:admin, navigation], :class => "delete" %>
		<% else %>
		<%= link_to "Visit", navigation.url, :class => "" %>
		<% end %>
	</span></div>