<h1>Edit Navigation</h1>
<% form_for [:admin, @navigation] do |f| %>

<% unless @navigation.bucket? %>
<fieldset>
	<legend>Page</legend>
	<p><strong><%= @navigation.page.title %></strong><br /><br />Rename page title in navigation, leave blank to use original page title.</p>
	
	<p>
	<label for="navigation_title" style="width:75px;">Rename Title</label>
	<%= f.text_field :title, :name => "navigation[title]", :id => "navigation_title", :class => "text" %>
	</p>
	
	
</fieldset>
<% end %>

<% if blue_features.include?(:localization) %>
<fieldset>
	<legend>Localizations</legend>
	<p>
	<% Span::Blue.locales.each do |locale| %>
	
		<label for="navigation_locale_data_title_<%= locale %>">Rename <%= I18n.t(:"meta.language_name.en", :locale => locale, :default =>  locale.to_s) %> Title</label>
		<input size="30" class="text" type="text" name="navigation[locale_data][title][<%= locale.to_s %>]" value="<%= @navigation.l10n_attribute(:title, locale, "") %>" />
	
	<% end %>
	</p>
</fieldset>
<% end %>

<fieldset>
	<legend>Options</legend>
<ul class="checkbox">
	<li><%= f.check_box :display?, :class => "checkbox"  %> <label for="navigtion_display">Display in Navigation</label></li>
	
	<% if Span::Blue.features.include?(:membership) %>
	<li><%= f.check_box :display_to_members_only?, :class => "checkbox"  %> <label for="navigation_display_to_members_only">Display in Navigation To Members Only</label></li>
	<% end %>
	<li><%= f.check_box :placeholder?, :class => "checkbox"  %> <label for="navigation_placeholder">Place Holder</label></li>
	<% if Span::Blue.features.include?(:collapsible_navigation) %>
	<li><%= f.check_box :collapsed?, :class => "checkbox"  %> <label for="navigation_collapsed">Start Collapsed</label></li>
	<% end %>
</ul>
</fieldset>

<div class="buttons">
<input type="submit" value="Update" class="button submit" /> | <a href="#cancel" class="close">Cancel</a>
</div>

<% end %>