<%= javascript_include_tag "blue/wymeditor/jquery.wymeditor.js" %>
<%= javascript_include_tag "blue/wymeditor/plugins/blue/jquery.wymeditor.blue.image_dialog.js" %>
<%= javascript_include_tag "blue/wymeditor/plugins/blue/jquery.wymeditor.blue.link_dialog.js" %>
<%= javascript_include_tag 'blue/admin/verbiage' %>

<h1>Edit <%= @model.name.tableize.singularize.titleize %></h1>

<% form_for @item, :url => "/admin/collections/#{@model.name.tableize}/update/#{@item.id}", :html => { :class => "collection", :multipart => true }, :builder => BlueFormBuilder do |f| %>
	<%= f.error_messages %>
	<%= render :partial => "form", :locals => {:f => f} %>
	<p class="buttons"><%= f.submit "Update" %> | <%= link_to "Cancel", :action => "index" %></p>
<% end %>