<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>My Site<%= page_title %></title>
	<% unless @page.nil? %>
	<meta name="description" content="<%= @page.meta_description %>" />
	<meta name="keywords" content="<%= @page.meta_keywords %>" />
	<% end %>
	<!-- <link rel="icon" type="image/png" href="/images/icon.png" /> -->
	<meta http-equiv="Content-Type" content="text/html; charset=iso-latin-1" />
	<!-- <link rel="shortcut icon" href="/favicon.ico" /> -->
	
    <%= stylesheet_link_tag('blue/reset', :media => "all") %>
    <%= stylesheet_link_tag('site', :media => "all") %>

	<% blue_include %>

	<%= yield :stylesheets %>

	<%= javascript_include_tag "blue/jquery/jquery-1.4.min.js" %>

	<%= javascript_include_tag('application') %>
	
	<!--[if IE]>
	    <%= stylesheet_link_tag('ie', :media => "all") %>
	<![endif]-->
	
	<% if logged_in? %>
	<script type="text/javascript" charset="utf-8">
		var form_authenticity_token = "<%= form_authenticity_token %>";
	</script>
	<% end %>
	
</head>
<body <%= body_attributes %>>

	<%= render :partial => 'admin/blue_toolbar' if logged_in? %>


	<%= yield %>

</body>
</html>
